<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Vertretung.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>